<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messaging App - {{ name }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const socket = io();

        socket.on("new_message", (data) => {
          const messagesDiv = document.getElementById("messages");
          const newMessage = document.createElement("div");
          newMessage.innerHTML = `Received Message: ${data.message} <br> Encrypted Message: ${data.encrypted_message} <br> <span style="color: gray;">${data.timestamp}</span>`;
          messagesDiv.appendChild(newMessage);
        });

        fetch("/hosts")
          .then((response) => response.json())
          .then((hosts) => {
            const hostSelect = document.getElementById("host");
            hostSelect.innerHTML = '<option value="">Select a host</option>'; // Clear existing options
            hosts.forEach((host) => {
              const option = document.createElement("option");
              option.value = host;
              option.textContent = host;
              hostSelect.appendChild(option);
            });
          });
      });
    </script>
  </head>
  <body>
    <h1>Messaging App - {{ name }}</h1>
    <form action="/send" method="post">
      <select name="host" id="host" required>
        <option value="">Select a host</option>
      </select>
      <input
        type="text"
        name="message"
        placeholder="Type your message here"
        required
      />
      <button type="submit">Send</button>
    </form>
    <div id="messages">
      {% for msg in messages %}
      <div>
        {{ msg.type|capitalize }} Message: {{ msg.message }} <br />
        Encrypted Message: {{ msg.encrypted_message }} <br />
        <span style="color: gray">{{ msg.timestamp }}</span>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
